*.env
*.pyc
*.venv/
__pycache__/
.vscode/
.DS_Store
*.mp4
*.onnx
*.png
*.jpg
*.pt
*.csv
*.json
*.jpeg
*.xlsx
*.cache-9
backend/.cache/fontconfig/CACHEDIR.TAG
docs/Attendance_video_demo.mov
test/Database schema_ attendance.public - db - Adminer.html
