*.env
*.pyc
*.venv/
__pycache__/
.vscode/
.DS_Store
*.mp4
*.onnx
# *.png
# *.jpg
*.pt
*.csv
# *.json
*.jpeg
*.xlsx
*.cache-9

backend/data/

*report.json
backend/app/secrets/
backend/secrets/

backend/.cache/
backend/models/text_embeddings/
node_modules
mobile-application/node_modules/
docs/*.mov
docs/test/
mobile-application/android/
backend/legacy_test_scripts/

# Large demo videos
docs/Demo_videos/
*.mov
