*.env
*.pyc
*.venv/
__pycache__/
.vscode/
.DS_Store
*.mp4
*.onnx
*.png
*.jpg
*.pt
*.csv
# *.json
*.jpeg
*.xlsx
*.cache-9

backend/data/jobs/f577bcb5-4616-4eba-a54c-03130f274061/exports/

*report.json
backend/app/secrets/firebase-service-account.json

backend/.cache/
node_modules
mobile-application/node_modules/
docs/*.mov
docs/test/Database schema_ attendance.public - db - Adminer.html
